.header {
  	position: relative;
  	font-weight: 300;
	font-size: 7.0em;
	color: whitesmoke;
}
.holder{
	position: absolute;
	display: inline-block;
	padding-top: 18%;
	padding-left: 45%;
}

.header .anime {
  	position: relative;
  	display: inline-block;
  	padding-top: 0.1em;
  	padding-right: 0.05em;
  	padding-bottom: 0.15em;
  	line-height: 1em;
}

.header .line {
  	position: absolute;
  	left: 0;
  	top: 0;
  	bottom: 0;
	margin: auto;
  	height: 5px;
  	width: 100%;
  	background-color: whitesmoke;
  	transform-origin: 0.5 0;
}

.header .ampersand {
  	font-style: italic;
  	font-weight: 400;
  	width: 1em;
  	margin-right: -0.1em;
  	margin-left: -0.1em;
}
.header .letters {
	font-family: Cookie,cursive;
	letter-spacing: 2px;
  	display: inline-block;
  	opacity: 0;
}
button span {
  	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}
button span:after {
  	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
}
button:hover span {
  	padding-right: 20px;
}

button:hover span:after {
  	opacity: 1;
  	right: 0px;
}