body,html {
	margin: 0;
	height: 100%;
}
li.navigationBar:hover{
	background-color: slategray;
	border-radius: 5px;
}
li.here{
	background-color: slategray;
	border-radius: 5px;
}
span.fa{
	padding-top: 10px;
	color: limegreen;
}
input::-ms-reveal{
	display: none;
}