@media only screen and (max-width: 992px) {
    body{
    	background-image: none;
    	background-color: rgba(143,188,139,0.5);
    }

    li.navigationBar:hover{
    	padding-left: 10px;
    }

    li.here{
    	padding-left: 10px;
    }
}