@media only screen and (max-width: 576px) {
    body{
    	background-image: url(backgroundSmall.jpg);
    }

    li.navigationBar:hover{
    	padding-left: 10px;
    }

    li.here{
    	padding-left: 10px;
    }
}