.carousel-indicators li{
    background-color: #33C1FF;
}
.carousel-indicators .active {
    background-color: gray;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
body,html {
	margin: 0;height: 100%;
	background-color: whitesmoke;
}
body{
	font-size:14px;
}
span.fa{
	padding-top: 10px;
	color: limegreen;
}
input::-ms-reveal{
	display: none;
}
::-webkit-scrollbar {
	width: 10px;
	background: whitesmoke;
	height:10px
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 15px gray;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb {
	background: #17a2b8;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #03525e;
}
.docs:hover{
	background-color: whitesmoke;
}
.docs{
	font-size: 13px;
}
a{
	cursor: pointer;
}
.loader {
    border: 4px solid lightgray;
    border-top: 5px solid #17a2b8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.7s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}